# Intellij
.idea/
*.iml
*.iws

# vscode
/.vscode/
 
# Mac
.DS_Store
 
# Maven
log/
target/
examples/output/

# Release
/baremaps/

# Map
/basemap/data/
/basemap/cache_*/

# JMH
jmh-result.json

# Docs
.jekyll-cache/
_site/
.sass-cache/
Gemfile.lock

# Logs
*.log
