# Intellij
.idea/
*.iml
*.iws

# vscode
/.vscode/
 
# Mac
.DS_Store
 
# Maven
log/
target/
examples/output/

# Node
**/node_modules/

# Release
/baremaps/

# Map
basemap/data/
basemap/cache_*/
basemap/local.*
basemap/tiles.mbtiles
basemap/tiles/

# Examples
examples/ip-to-location/archives/
examples/ip-to-location/downloads/
examples/ip-to-location/geocoder-index/
examples/ip-to-location/iploc.db

examples/geocoding/archives/
examples/geocoding/downloads/
examples/geocoding/geocoder-index/

examples/extrusion/*.pbf

examples/naturalearth/natural_earth_vector/
examples/naturalearth/natural_earth_vector.gpkg.zip
examples/naturalearth/tiles/

examples/openstreetmap/*.pbf
examples/openstreetmap/tiles.mbtiles
examples/openstreetmap/tiles/

examples/transformation/*.pbf

# Benchmarking
baremaps-benchmarking/small/
baremaps-benchmarking/data/

# Docs
.jekyll-cache/
_site/
.sass-cache/
Gemfile.lock

# Logs
*.log
