# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/
examples/output/
baremaps-editor/node/

# Release
/baremaps/

# JMH
jmh-result.json

# Docs
.jekyll-cache/
_site/
.sass-cache/
Gemfile.lock
/baremaps-grpc/geocoder_*
