

body {
  margin: 60px 0;
}

img {
  width: 100%;
}

.logo a {
  color: black;
}

.logo a, nav a {
  text-decoration: none;
}

.home {
  text-align: center;
}

nav > ul > li {
  list-style: none;
}

section li {
  padding-left: 1.28571429em;
  text-indent: -1.28571429em;
}

#map {
  border: 0;
}