<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }} - {{ site.title }}</title>
    {% if page.description %}<meta name="description" content="{{ site.description }}">{% endif %}
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  </head>
  <body>
    <div class="container">
      <div class="row">
          <div class="four columns">
            <header>
              <h2 class="logo"><a href="/"><i class="far fa-map"></i> {{ site.title }}</a></h2>
              <p>{{ site.description }}</p>
              <p>
                <a class="github-button" href="https://github.com/baremaps/baremaps" data-size="large" data-show-count="true"
                   aria-label="Star baremaps/baremaps on GitHub">Star</a>
                <a class="github-button" href="https://github.com/baremaps/baremaps/releases/latest"
                   data-color-scheme="no-preference: light; light: light; dark: dark;" data-size="large"
                   aria-label="Download baremaps/baremaps on GitHub">Download</a>
              </p>
            </header>
            <nav>
              <ul>
                {% for item in site.data.menu.items %}
                <li>
                  <a href="{{ item.url }}">{{ item.page }}</a>
                  {% if item.subitems[0] %}
                  <ul>
                    {% for subitem in item.subitems %}
                    <li><a href="{{ subitem.url }}">{{ subitem.page }}</a></li>
                    {% endfor %}
                  </ul>
                  {% endif %}
                </li>
                {% endfor %}
              </ul>
            </nav>
          </div>
          <article class="eight columns">
            {{ content }}
            <p><a class="edit" href="{{site.github.repository_url}}/edit/main/docs/{{page.path}}"><i class="fas fa-edit"></i> Improve this page</a></p>
          </article>
      </div>
    </div>
    <script async defer src="https://kit.fontawesome.com/14dcd5fdfb.js" crossorigin="anonymous"></script>
    <script async defer src="https://buttons.github.io/buttons.js" crossorigin="anonymous"></script>
  </body>
</html>
