name: Build

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]

jobs:

  build-ubuntu:
    name: Build on Ubuntu
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ '11', '17' ]
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          submodules: true
      - name: Set up Java ${{ matrix.Java }}
        uses: actions/setup-java@v2
        with:
          java-version: ${{ matrix.Java }}
          distribution: 'adopt'
          cache: 'maven'
      - name: Build with Maven
        run: mvn package -P integration,maputnik -B

  build-macos:
    name: Build on MacOS
    runs-on: macos-latest
    strategy:
      matrix:
        java: [ '11', '17' ]
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          submodules: true
      - name: Set up Java ${{ matrix.Java }}
        uses: actions/setup-java@v2
        with:
          java-version: ${{ matrix.Java }}
          distribution: 'adopt'
          cache: 'maven'
      - name: Build with Maven
        run: mvn package -P maputnik -B

  build-windows:
    name: Build on Windows
    runs-on: windows-latest
    strategy:
      matrix:
        java: [ '11', '17' ]
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          submodules: true
      - name: Set up Java ${{ matrix.Java }}
        uses: actions/setup-java@v2
        with:
          java-version: 11
          distribution: 'adopt'
          cache: 'maven'
      - name: Build with Maven
        run: mvn package -P maputnik -B
